
$margin: 20px;


.clickable {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  perspective: 1200px;
}

#app {
  position: relative;
  display: block;
  margin: $margin;
  width: 200px;
  height: 243px;
  transform-style: preserve-3d;

  &.inMenu > div#front { transform: rotateY(180deg); }
  &.inMenu > div#back { transform: rotateY(360deg); }

  &:not(.darkTheme) * {
    --background: #eeeeee;
    --backpanel: #c5c9d0;
    --text: #111111;
  }

  &.darkTheme * {
    --background: #1b1e25;
    --backpanel: #15171b;
    --text: #eeeeee;
  }

  & > div {
    backface-visibility: hidden;
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 0;
    left: 0;
    padding: 15px;
    background-color: var(--background);
    box-shadow: 0 3px 10px #0000003b;
    overflow: hidden;
    border-radius: 5px;
    transition: transform .6s cubic-bezier(0.29, 1.39, 0.7, 0.93);

    &#back {
      transform: rotateY(180deg);
    }
  }
}

#thumbnail {
  width: calc(100vw - #{$margin * 2} - 30px);
  height: calc(100vw - #{$margin * 2} - 30px);
  border-radius: 3px 3px 0 0;
  background-position: center;
  background-size: cover;
  background-color: var(--backpanel);
  overflow: hidden;
  cursor: grab;

  &:active { cursor: grabbing; }
  &:hover .inner { opacity: 1; }
  &:hover .inner .title { transform: translateY(0); }
  &:hover .inner .artists { transform: translateY(0); }

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(0deg, #000000b0, #00000000);
    backdrop-filter: blur(0);
    opacity: 0;
    transition: opacity .2s ease-out;
    will-change: opacity;

    .title {
      position: absolute;
      left: 10px;
      bottom: 25px;
      width: calc(100% - 50px);
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      text-shadow: 1px 0 2px #00000099;
      opacity: .8;
      color: #ffffffdd;
      transform: translateY(50%);
      transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .artists {
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: calc(100% - 50px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      text-shadow: 1px 0 2px #00000099;
      color: #ffffff99;
      transform: translateY(50%);
      transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .volume {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: #ffffffdd;
      opacity: 0;
      transition: opacity 2s ease 1s;

      &[show] {
        opacity: 1;
        transition: opacity .2s ease-out;
      }
    }

    svg {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 20px;
      height: 30px;
      opacity: .5;
      transition: opacity .2s ease;
      color: #ffffff;

      &:hover { opacity: 1; }
    }
  }
}

#player {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 50vw;
}

.progress {
  width: calc(100vw - #{$margin * 2} - 30px);
  border-radius: 0 0 3px 3px;
  height: 3px;
  background-color: var(--backpanel);
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: '';
    color: inherit;
    background-color: currentColor;
    display: block;
    height: 100%;
    width: var(--width);
  }
}

.buttons {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  transform: translateY(5px) scale(1);

  svg {
    height: calc(100% - 20px);
    width: 20px;
    padding: 10px;
    opacity: .5;
    color: var(--text);
    transform: all .2s ease;
    transition: transform .2s ease-out .1s
              , opacity .2s ease;

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: scale(.9);
      transition: transform .2s ease-out
                , opacity .2s ease;
    }
  }
}

.row {
  width: 100%;
  margin-bottom: 10px;

  &.flex { display: flex; }
  &.edge { justify-content: space-between; }
  &.left { justify-content: left; }
  &.center { justify-content: center; }
  &.no-margin { margin: 0 !important; }

  * {
    margin: 0;
    padding: 0;
  }

  svg {
    height: 20px;
    width: 20px;
    opacity: .5;
    transition: opacity .2s ease;
    color: var(--text);

    &:hover { opacity: 1; }
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--text);
    font-weight: bold;
    text-transform: uppercase;
    opacity: .5;
    line-height: 20px;
  }

  span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--text);
    opacity: .5;
    line-height: 20px;
    transition: opacity .2s ease;
    margin-left: 10px;
  }

  footer {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: var(--text);
    opacity: .3;

    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover { text-decoration: underline; }
  }

  .colorblob {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 99px;
    border: 1px solid transparent;
    transition: border .2s ease;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
      border: 1px solid var(--text);
    }

    div {
      border-radius: 99px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
    }
  }

  &.clickable:hover svg { opacity: 1; }
  &.clickable:hover span { opacity: 1; }
}

.spacer {
  width: 100%;
  height: 12px;
}
